# Django & DRF
Django==4.2.10
django-cors-headers==4.3.1
django-filter==23.5
django-rest-knox==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7

# Database
psycopg2-binary==2.9.9

# Authentication
PyJWT==2.8.0

# Development Tools
python-dotenv==1.0.1

# Documentation
mkdocs==1.4.3
mkdocs-material==9.0.5
